.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px orange solid;
  height: 60px;
}
.header__containLogo {
  width: 189px;
  height: 48px;
}

.header__logo {
  width: 167.26px;
  height: 29.65px;
  object-fit: cover;
}
.header__buttonAdd {
  width: 204px;
  height: 39px;
  background-color: #f56b2a;
  border-radius: 5px;
  border: none;
}
